.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header {
  width: 100vw;
}

.signin {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  background-image: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.308),
    rgba(56, 56, 56, 0.116)
  );
  backdrop-filter: blur(20px);
  border-radius: 1rem;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.233);
  margin: 50px;
  padding: 20px;
}

form {
  margin: 10px 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  border: 1px solid rgba(255, 255, 255, 0.397);
  background-color: rgba(0, 0, 0, 0.24);
  padding: 5px 8px;
  font-size: 1.2em;
  color: #fff;
  border-radius: 5px;
  width: 100%;
}

input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.253);
  color: #fff;
}

label {
  color: rgba(255, 255, 255, 0.651);
  margin: 30px 0 3px 0;
}

.remember-me {
  padding: 5px;
}

button {
  margin: 30px 0 10px 0;
  width: 100%;
}

.extras {
  margin: 20px 0;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.315);
}

.extras a {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
